.hidden {
    display: none;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #f7f9fc;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column; /* 使內容垂直排列 */
    justify-content: flex-start; /* 從上方開始排列 */
    align-items: center;
    height: 100vh;
    text-align: center;
    gap: 50px;
}


button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #4c4dab;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3a3b8f;
}

.secondary-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #ffffff00;
    border: #4c4dab 2px solid;
    color: #4c4dab;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    height: 500px;
    border: 2px solid #cdcefd;
}

.parking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.message {
    color: #4c4dab;
}

.inputLicensePlate {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
}

.LicensePlate {
    width: 250px;
    max-width: 200px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
}

#vehicleSelection div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

#vehicleSelection-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}

#vehicleSelection button {
    height: 300px;
    width: 290px;
}

#vehicleSelection button img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.info-container {
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 15px;
}

.info-container hr {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #cdcefd;
}

.info-row {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.info-container div {
    width: 100%;
}

.info-row-content {
    font-size: large;
    font-weight: 500;
    letter-spacing: 1px;
}

#totalFee {
    display: flex;
    justify-content: space-between;
}

#parkingTimeResult {
    color: #3aaa3f;
}

#feeResult {
    color: #ffa42e;
}

